@charset "UTF-8";

@font-face {
    font-family: 'GoetheGothic';
    src: url(../goethegothic.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GoetheGothic';
    src: url(../goethegothic.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bgColor: #232830;
    --primaryColor: #FF7575;
    --secondaryColor: #909090;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;

    /* border: 1px solid red; */
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--bgColor);
}


.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    width: 75vw;
    font-size: 1em;
}

.header-top-container {
    display: flex;
    width: 100%;
}

.header-top-container .top-header-logo {
    text-decoration: none;
}

.header-top-container > nav {
    margin-left: auto;
    display: flex;
}

.header-top-container > nav > ul {
    display: flex;
    width: 250px;
    justify-content: space-between;
    
}

.header-top-container > nav a {
    text-decoration: none;
}

.logo-img {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px 0px;
}

.logo-img img {
    width: 125px;
}

header h1 {
    font-size: 2.5em;
    font-family: Recursive;
    font-weight: 400;
    font-style: italic;
    color: var(--primaryColor);
    text-align: center;
}

header p {
    text-align: center;
    margin-top: 10px;
}

.category-nav-container {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px;
    border-top: 1px solid #4D4D4D;
}

.category-icons-container {
    display: flex;
}

.category-icons-container img {
    margin-right: 10px;
    fill: black;
}

.category-nav-container .categories-container {
    list-style-type: none;
    display: flex;
}

.category-nav-container .categories-container li {
    padding: 0px 15px;
    font-size: 1.2em;
    color: var(--secondaryColor);

    border-radius: 10px;

    cursor: pointer;
    transition: .15s;
}

.category-nav-container .categories-container li:hover {
    color: white;
    background-color: var(--bgColor);
}

.articles-grid {
    width: 75vw;
    margin: 50px auto;

    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.articles-grid article {
    background-color: white;
    padding: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    width: 100% ;
    height: 100%;
}

.articles-grid article * {
    color: 
    #0F1217;
}

.articles-grid article img {
    width: 100%;
}

.articles-grid article h1 {
    font-size: 1.2em;
    margin-top: 1.5em;
    margin-bottom: .75em;
}

.article-preview {
    font-size: 1em;
    margin-bottom: 1em;
}

.article-footer {
    display: flex;
    align-items: center;

    margin-top: auto;
    margin-bottom: .2rem;
} 

.material-symbols-outlined {
    padding: 0px 1.2rem;
    font-size: 5px;

    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.pagination ul {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 25vw;
    margin: auto;

    list-style-type: none;
}

.pagination a {
    text-decoration: none;
    color: var(--secondaryColor);
    font-size: 1.2em;

    border-top:3px solid var(--bgColor);
    padding: 5px 12px;
}

.pagination .selected {
    color: var(--primaryColor);
    border-top: 3px solid #FF7575;
}

footer {
    margin-top: 5rem;
    border-top: 1px solid #4D4D4D;
}

.footer-container {
    display: flex;
    width: 75vw;
    margin: auto;
    padding: 1.5rem 0px 5rem 0px ;
    align-items: center;
    justify-content: flex-start;
}

footer p {
    margin-right: 15px;
}

footer .button {
    text-decoration: none;
    padding: 3px 10px;
    background-color: #4699E0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    box-shadow: 2px 2px 1px rgba(255, 255, 255, 0.473);

    transition: .15s;
}

footer .button:hover {
    box-shadow: none;
    transform: translate(2px, 2px);
}

footer .button img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
}

footer .twitter {
    background-color: black;
}

footer .github {
    background-color: rgb(59, 59, 59);
}

footer #viniciusboroto-github {
    margin-left: auto;
}